# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env
.venv/

# IDE settings (VSCode, PyCharm)
.vscode/
.idea/

# Logs
*.log

# Windows specific
Thumbs.db
Desktop.ini
